body{
    background-color: #9391e7;
}
table{
    margin-top: 100px;
    border-collapse: collapse;
    box-shadow: 0px 0px 9px 0px #000000;
}
caption#nome{
    display: inline;
    position: absolute;
    padding: 2px;
    margin: -70px 0px 0px 180px;
}
tbody#corpo{
    display: block;
    position: relative; 
}
.space{
    width: 150px;
    background-color: #fafafa;
    height: 150px;
    border: 1px solid #000000;
}


